.footer-section {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.footer-title > h1 {
  font-size: 35px;
  color: white;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.github {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.instagram {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.email {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.tel {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media only screen and (max-width: 807px) {
  .footer-bar {
    flex-direction: column;
  }
  .tel {
    order: 3;
  }
  .email {
    order: 4;
  }
}
