/* import navbar-style  */

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 48px;
  margin-bottom: 54px;
  /* padding-left: 50px;
  padding-right: 50px; */
  box-sizing: border-box;
}

.header-logo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header-logo > h1 {
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
  padding: 0;
  margin: 0 25px 0 0;
  min-width: 136px;
}
.header-logo > h2 {
  font-weight: 400;
  font-size: 35px;
  color: #ffffff;
  padding: 0;
  margin: 0 25px 0 0;
  min-width: 91px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: auto;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #ffffff;
  padding: 10px 18px 10px 18px;
  border-radius: 10px;
  min-width: 110px;
}

.nav-item:hover {
  box-shadow: 0px 0px 10px skyblue;
  background: rgb(135, 206, 235, 0.9);

  color: #ffffff;
  cursor: pointer;
}
.nav-item:active {
  background: rgb(131, 205, 235, 0.7);
}
