/* import navbar-style  */

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 48px;
  margin-bottom: 54px;
  box-sizing: border-box;
}

.header-logo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header-logo > h1 {
  font-weight: 700;
  font-size: 35px;
  color: #ffffff;
  padding: 0;
  margin: 0 25px 0 25px;
  min-width: 136px;
  text-align: center;
}
.header-logo > h2 {
  font-weight: 400;
  font-size: 35px;
  color: #ffffff;
  padding: 0;
  margin: 0 25px 0 0;
  min-width: 91px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: auto;
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #ffffff;
  padding: 10px 18px 10px 18px;
  border-radius: 10px;
  min-width: 110px;
}

.nav-item:hover {
  box-shadow: 0px 0px 10px skyblue;
  background: rgb(135, 206, 235, 0.9);

  color: #ffffff;
  cursor: pointer;
}
.nav-item:active {
  background: rgb(131, 205, 235, 0.7);
}

.nav-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.nav-dropdown:hover {
  box-shadow: 0px 0px 15px skyblue;
  background-color: rgb(135, 206, 235, 0.9);
}
.nav-dropdown:active {
  background: rgb(131, 205, 235, 0.7);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 807px) {
  .nav-bar {
    display: none;
  }
  .nav-item {
    display: none;
  }
}
@media only screen and (min-width: 808px) {
  .nav-dropdown {
    display: none;
  }
  .item-dropdown {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 907px) {
  .nav-item {
    font-size: 15px;
    color: #ffffff;
    padding: 10px 18px 10px 18px;
    border-radius: 10px;
    min-width: 110px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 981px) {
  .header-logo > h1 {
    font-size: 25px;
  }
  .header-logo > h2 {
    font-size: 25px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1215px) {
  .header-logo > h2 {
    margin: 0;
  }
  .header-logo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
