.App {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 1920px;
  background-color: #212121;
}

.App-body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}
